@media (min-width: $xl) {
  .container {
    max-width: 1630px;
  }
}


nav {
  .collapse:not(.show) {
    display: block;
    opacity: 0;

  }
}

.purple {
  color: #CBB0F6 !important;
}
.aqua{
  color: #A4F7EA !important;
}